@model GamesStore.Models.Games

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Games</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Systemrequiremnts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Systemrequiremnts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Releasedate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Releasedate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>
        <dd class="col-sm-10">

            @*<video width="300" height="200" autoplay="true" preload="auto"
               src=@Html.ViewData.Model.Trailer controls="true" >

        </video>*@
            <iframe width="420" height="315"
                    src="@Html.ViewData.Model.Trailer">
            </iframe>

        </dd>





        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @if (Html.ViewData.Model.Image != null)
            {
                string img = Convert.ToBase64String(Html.ViewData.Model.Image);
                <img src="data:/image/jpg;base64,@img" class="card-img-top" alt="...">
            }
       
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Onstock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Onstock)
        </dd>
    </dl>
</div>
<div>
    @if (Context.User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    }
    <a asp-action="Index">Back to List</a>
</div>
