@model IEnumerable<GamesStore.Models.Games>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/gameDetails.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />




@if (Context.User.IsInRole("Admin"))
{
    <p>
        <a class="create-new-b" asp-action="Create">Create New</a>
    </p>
}


<div>
    <form id="namesearch" asp-action="Search">
        <input name="query" id="query" autocomplete="off" placeholder="Search by name" />
        <input class="btn btn-primary" type="submit" id="submitname" value="Search" />
    </form>

    <a class="groupbyprice" asp-controller="Games" asp-action="Groupby">Group by</a>

    <br /><br />

    <div class="row">
        <div class="col-6">
            <form id="filter" asp-action="Filter">
                <table>

                    <tbody>
                        <div class="row" style="background-color: darkgrey; border-radius: 20px;">
                            <div class="col-4">
                                <div style="padding-left:0;"><h3>Category</h3></div><br />
                                @foreach (var cat in ViewBag.Category)
                                {
                                    <div class="row" style="padding-left:15px;">
                                        <input type="checkbox" value="@cat.Name" name="category" /> @cat.Name
                                    </div>
                                }
                            </div>

                            <div class="col-4">
                                <div style="padding-left:0;"><h3>Supplier</h3></div><br />

                                @foreach (var sup in ViewBag.Suppliers)
                                {
                                    <div class="row" style="padding-left:15px;">
                                        <input type="checkbox" value="@sup.Name" name="supplier" /> @sup.Name
                                    </div>
                                }
                            </div>
                            <div class="col-4">
                                <div style="padding-left:0;"><h3>Price</h3></div><br />
                                <input type="range" class="form-range" min="0" max="1000" step="1" value="1000" oninput="priceval.value = this.value" name="price" />
                                <output id="priceval"></output>
                            </div>
                            <div style="padding-top:20px; padding-bottom:10px; margin-left:470px;">
                                <input type="submit" id="multifilter" value="Search" class="btn btn-primary" style="padding-left:20px" />
                            </div>
                        </div>

                    </tbody>
                </table>


            </form>

        </div>






        <div class="col-6">
            <form id="filter2" asp-action="Filter2">
                <table>

                    <tbody>
                        <div class="row" style="background-color: darkgrey; border-radius: 20px;">
                            <div class="col-4">
                                <div style="padding-left:0;"><h3>Year</h3></div><br />

                                <div class="row" style="padding-left:15px;">
                                    <input type="range" class="form-range" min="1980" max="2021" step="1" value="2021" oninput="yearval.value = this.value" name="year" />
                                    <output id="yearval"></output>
                                </div>

                            </div>

                            <div class="col-4">
                                <div style="padding-left:0;"><h3>Under 100$!</h3></div><br />
                                <div class="row" style="padding-left:15px;">
                                    <input type="checkbox" value="Under100$" name="under100" /> Under 100$
                                </div>

                            </div>
                            <div class="col-4">
                                <div style="padding-left:0;"><h3>On stock</h3></div><br />
                                <div class="row" style="padding-left:15px;">
                                    <input type="checkbox" value="Onstock" name="onstock" /> On stock
                                </div>
                            </div>
                            <div style="padding-top:20px; padding-bottom:10px; margin-left:470px;">
                                <input type="submit" id="multifilter" value="Search" class="btn btn-primary" style="padding-left:20px" />
                            </div>
                        </div>

                    </tbody>
                </table>


            </form>
        </div>

    </div>








</div>
<br />




<div class="hero-container row row-cols-4 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="main-container col-3">
            <div class="poster-container">
                @if (item.Image != null)
                {
                    string img = Convert.ToBase64String(item.Image);
                    <img src="data:/image/jpg;base64,@img" class="card-img-top" alt="..." style="height: 280px; margin-top: 10px; border-radius: 10px;">
                }
            </div>
            <div class="ticket-container">
                <div class="ticket__content">
                    <h4 class="ticket__movie-title">@item.Name</h4>
                    <div class="text-center">
                        @if (item.Onstock == 0)
                        {
                            <label style="color:red">Out of stock</label>
                        }
                        else
                        {
                            <a class="addingtocart row" asp-controller="Clients" asp-action="Addtocart" name="@Context.User.Identity.Name" data="@item.Id" style="margin-left:80px;">Add to cart</a>
                        }
                        <a class="addingtowishlist row" asp-controller="Clients" asp-action="Addtowishlist" name="@Context.User.Identity.Name" data="@item.Id" style="margin-left:67px;">Add to wishlist</a>
                    </div>
                    <p class="ticket__current-price">Price: @item.Price $</p>

                    @if (Context.User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }

                    <button class="ticket__buy-btn" name="@item.Id" asp-action="Details" asp-route-id="@item.Id">Details</button>


                </div>

            </div>
        </div>






    }
</div>

@section Scripts {
    <script>
        $(function () {
            $('.addingtocart').click(function (e) {
                e.preventDefault();
                var email, gameid;
                email = $(this).attr("name").valueOf();
                gameid = $(this).attr("data").valueOf();
                $(this).attr("asp-route-gameid", gameid);
                console.log(email);
                $.ajax({
                    url: '/Clients/Addtocart',
                    data: ({
                        'email': email, 'gameid': gameid
                    })
                }).done(function () {
                    location.reload();
                });
            });
        });
    </script>
    <script>
        $(function () {
            $('.addingtowishlist').click(function (e) {
                e.preventDefault();
                var email, gameid;
                email = $(this).attr("name").valueOf();
                gameid = $(this).attr("data").valueOf();
                $(this).attr("asp-route-gameid", gameid);
                console.log(email);
                $.ajax({
                    url: '/Clients/Addtowishlist',
                    data: ({
                        'email': email, 'gameid': gameid
                    })
                }).done(function () {
                    location.reload();
                });
            });
        });
    </script>
    <script src="~/js/gamesearchbyname.js"></script>
    <script type="text/html" id="hidden-template">
        <tr>
            <td>
                <div class="card" style="width: 18rem;">

                    <img src="data:/image/jpg;base64,{image}" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">{name}</h5>

                        <a asp-controller="Games" asp-action="Details" asp-route-id={id} class="btn btn-primary">Game details</a>
                    </div>
                </div>
            </td>
            @if (Context.User.IsInRole("Admin"))
            {
                <td>


                    <a href="/Games/Edit/{id}">Edit</a>|
                    <a href="/Games/Details/{id}">Details</a>|
                    <a href="/Games/Delete/{id}">Delete</a>

                </td>
            }
        </tr>
    </script>
    <script src="~/js/gamedetail.js"></script>
    <script type="text/html" id="detailsbody">
        <tr>
            <td>

                <div class="gameTitle">{name}</div>
                <br />
                <br />
                <div class="d-flex" style="height:700px; ">


                    <div class="col-5">
                        <img src="data:/image/jpg;base64,{image}" class="card-img-top" alt="..." style="width:100%; height:90%; border-radius: 20px;"></img>
                    </div>
                    <div class="col-7" style="background-color: darkgrey; border-radius: 20px; height: 90%;">
                        <dt class="col-sm-2" style="padding-left:0;">
                            Description:
                        </dt> {description}
                        <br />
                        <div class="row">
                            <dt class="col-sm-3">
                                Release date:
                            </dt>
                            <dd class="col-sm-9">
                                {releasedate}
                            </dd>
                        </div>

                        <div class="row">
                            <dt class="col-sm-3">
                                On stock:
                            </dt>
                            <dd class="col-sm-9">
                                {onstock}
                            </dd>
                        </div>
                        <br />
                        <div class="row">
                            <dt class="col-sm-3">
                                Price:
                            </dt>
                            <dd class="col-sm-9">
                                {price} $
                            </dd>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <dt class="col-sm-2">
                        System requiremnts:
                    </dt>
                    <dd class="col-sm-10">
                        {systemrequiremnts}
                    </dd>
                </div>



                <div class="row">
                    <dt class="col-sm-2">
                        Trailer:
                    </dt>
                    <dd class="col-sm-10">
                        <iframe width="420" height="315"
                                src="{trailer}">
                        </iframe>

                    </dd>
                </div>

            </td>
        </tr>

    </script>


}

