
@model IEnumerable<GamesStore.Models.OrderClient>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Buying customers at the last day</h1>
<br />
<br />


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Creditcard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Totalprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buildingnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartmentnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Creditcard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Totalprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Buildingnumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apartmentnumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zipcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>

            </tr>
        }
    </tbody>
</table>