@model IEnumerable<GamesStore.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>
@if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0&& Context.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem;">
                    <img src=@item.image class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <a href="#" class="btn btn-primary">@item.Name</a>
                    </div>
                </div>

                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>*@

            }
        </tbody>
    </table>
