@model IEnumerable<GamesStore.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>
@if (Context.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<form asp-action="Search">
    <input name="query" id="query" autocomplete="off" />
    <input type="submit" />
</form>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <a id="gamesbycat" name="@item.Name"  asp-route-Item="@item.Name" class="btn btn-primary">More games</a>
                        </div>
                    </div>
                </td>
                @if (Context.User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>



@section Scripts{
    <script src="~/js/categoriessearch.js"></script>
    <script src="~/js/catdet.js"></script>
    <script type="text/html" id="hidden-template">
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{name}</h5>
                        <a asp-controller="Games" asp-action="Gametype" asp-route-Item="{name}" class="btn btn-primary">More games</a>
                    </div>
                </div>
            </td>


            <td>


                <a href="/Categories/Edit/{id}">Edit</a>|
                <a href="/Categories/Details/{id}">Details</a>|
                <a href="/Categories/Delete/{id}">Delete</a>

            </td>


        </tr>
    </script>
    <script type="text/html" id="orderedgames">
        <tr>
            <td>
               {name}
            </td>


            <td>


                <a href="/Categories/Edit/{id}">Edit</a>
                <a href="/Categories/Details/{id}">Details</a>
                <a href="/Categories/Delete/{id}">Delete</a>

            </td>


        </tr>
    </script>
}