@model IEnumerable<GamesStore.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>
@if (Context.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<form asp-action="Search">
    <input name="query" id="query" autocomplete="off" />
    <input type="submit" />
</form>


        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
               
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <a name="@item.Name" asp-controller="Games" asp-action="Gametype" asp-route-Item="@item.Name" class="button btn-primary">More games</a>
                                </div>
                            </div>
                        </div>
                      
                   
                    @if (Context.User.IsInRole("Admin"))
                    {
                        
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit|</a>
                            <a asp-action="Details" asp-route-id="@item.Id">Details|</a> 
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        
                    }
                
            }
            </div>




@section Scripts{
    <script src="~/js/categoriessearch.js"></script>

    <script type="text/html" id="hidden-template">
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{name}</h5>
                        <a href="../Games/Gametype?Item={name}" class="btn-primary">More games</a>
                    </div>
                </div>
            </td>

            @if (Context.User.IsInRole("Admin"))
            {
                <td>


                    <a href="/Categories/Edit/{id}">Edit</a>|
                    <a href="/Categories/Details/{id}">Details</a>|
                    <a href="/Categories/Delete/{id}">Delete</a>

                </td>
            }

            </tr>
    </script>
    @*<script src="~/js/catdet.js"></script>*@
    <!--<script type="text/html" id="orderedgames">
        <tr>
            <td>
                <div class="card" style="width: 18rem;">

                    <img src="data:/image/jpg;base64,{image}" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">{name}</h5>-->
                        @*<a asp-controller="Games" asp-action="Gametype" asp-route-id=@item.Id class="btn btn-primary">More games</a>*@
                        <!--<a asp-controller="Games" asp-action="Details" asp-route-id={id} class="btn btn-primary">Game details</a>
                    </div>
                </div>
            </td>
            @if (Context.User.IsInRole("Admin"))
            {
                <td>


                    <a href="/Games/Edit/{id}">Edit</a>|
                    <a href="/Games/Details/{id}">Details</a>|
                    <a href="/Games/Delete/{id}">Delete</a>

                </td>
            }
        </tr>
    </script>-->
}